.navigation__li {
  display: inline;
  margin: 10px;
}

.navigation__list {
  margin-bottom: 8px;
}

.navigation__link {
  text-decoration: none;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid grey;
  border-bottom: 0;
  background-color: white;
}

.navigation__link:focus {
  position: relative;
  top: 1px;
}

.page-wrapper {
  padding: 10px 20px;
  border-top: 1px solid grey;
}

.invisible {
  display: none;
}
